 Name : Lakshya Sonawane
 Exp 0 : Introduction to Python

In [2]:
#PRN:25070123068
print("Name: Lakshya Sonawane")

Name: Lakshya Sonawane

In [4]:
print(2)

2

In [7]:
print([1, 2 ,5])

[1, 2, 5]

In [15]:
a = 2
b = [1,2,5]
c = "Lakshya Sonawane"
print(a,b,c,sep="\n")

2
[1, 2, 5]
Lakshya Sonawane